.fa-tint {
  color: red;
  animation-name: colorcode;
  animation-duration: 20s;
}
@keyframes colorcode {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

.jumbotron {
  width: 50%;
  padding: 20px;
  margin: 2%;
  margin-left: 23%;
  background-image: linear-gradient(to left, purple, cyan, green, red);
  color: white;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.281);
}

#start-button {
  margin-left: 42%;
}

.display-4 {
  margin-left: 28%;
}

.lead {
  margin-left: 25%;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-right: 5%;
  padding: 20px;
  border: solid;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: white;
}

.buttonA {
  background-color: purple;
}

.buttonB {
  background-color: cyan;
}

.buttonC {
  background-color: green;
}

.buttonD {
  background-color: red;
}